 * {
   margin: 0;
   padding: 0;
 }

 ol,
 ul,
 li {
   list-style: none;
 }

 a {
   text-decoration: none;
   color: black;
 }

 img {
   display: block;
   width: 100%;
 }

 .sub_intro {
   padding: 50px 20px;
   width: 100%;
   max-width: 1280px;
   margin: 0 auto;
   box-sizing: border-box;
 }


 .breadcrumb {
   display: flex;
   align-items: center;
   font-size: 0.95rem;
   color: #666;
   gap: 10px;
 }



 .cri_person img {
   border-radius: 20px;
 }

 .cri_person_box {
   display: flex;
   gap: 10px;
   padding-left: 16px;
   scroll-snap-type: x mandatory;
   overflow-x: auto;

    scrollbar-width: none; 
   -ms-overflow-style: none; 
  }

 .cri_person {
   flex: 0 0 90%;
   scroll-snap-align: start;
   box-sizing: border-box;
   background: white;
   padding: 16px;

 }

 .cri_name {
   margin: 20px 0 10px 0;
   font-size: 1.1rem;
   color: #EC008C;
   font-weight: bold;
 }

 .intro_txt {
   font-weight: bold;

 }


 /* --------------------------------- */



 .humanity {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 10px;
   margin: 0 auto;

   position: relative;
 }

 .humanity img {
   width: 180px;

   border-radius: 20px;
   margin-right: 10px;
   object-fit: cover;

 }

 .humanity_txt {
   width: calc(100% - 120px);
 }

 .date {
   position: absolute;
   bottom: 0;
   right: 0;
 }

 hr {
   margin: 20px 0;
 }

 .hu_txt_cont {
   color: #ccc;
   margin: 30px auto;

   display: none;
 }

 .sub_title {
   max-width: 1280px;
   margin: 50px auto 20px;
   font-weight: bold;
   font-size: 1.6rem;
   text-align: center;
 }

 .mb {
   margin-bottom: 50px;
 }

 .banner_box {
   position: relative;
 }

 .citi_title {
   text-align: center;
   font: 1.2rem;
   cursor: pointer;
 }


 .banner {
   position: relative;
   width: 100%;
   aspect-ratio: 16 / 9;
   overflow: hidden;

 }

 .banner img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px;
 }


 .cover {
   position: absolute;
   bottom: 0px;
   left: 0;
   width: 100%;
   height: 20%;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
 }

 .cover_title {
   padding-top: 10px;
   font-size: 1.3rem;
   text-align: center;
 }

 .cover_title span {
   font-size: 1.5rem;
   font-weight: bold;
 }

 .sub_title_pc {
   display: none;

   max-width: 1280px;
   margin: 50px auto 20px;
   font-weight: bold;
   font-size: 1.6rem;
   text-align: center;
 }





 aside {
   display: none;
 }

 .outer {
   display: block;
 }






 @media all and (min-width: 601px) {
   .hu_txt_cont {
     display: block;
   }

   .humanity_txt p:first-child {
     font-size: 1.2rem;
   }

   .citizen_ban {
     display: flex;
     flex-direction: row;
     gap: 20px;
   }

   .cover_title span {
     font-size: 1.3rem;
     font-weight: bold;
   }

   .cover {

     height: 30%;

   }

 }



 @media all and (min-width: 769px) {



   .banner {
     position: relative;
     max-width: 70%;
     aspect-ratio: 6 / 4;
     overflow: hidden;
     margin: 0 auto;
   }

   .banner img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 20px;
   }



   .cri_person img {
     max-width: 305px;
     height: auto;
   }

   .hu_txt_cont {
     position: relative;
     max-height: 500px;
     line-height: 25px;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     overflow: hidden;
     -webkit-line-clamp: 5;
   }

   .human_citizen {
     display: flex;
     justify-content: space-between;

   }

   .citizen_ban {
     display: flex;
     flex-direction: column;
     gap: 20px;
   }

   .sub_title_pc {
     display: block;
   }

   .sub_title {
     display: none;
   }



   .cri_person_box {
     max-width: 1280px;
     display: flex;
     gap: 10px;
     padding-left: 0;
   }

   .cri_person {

     flex-basis: auto;
     width: calc((100% - 3*10px)/4);
     box-sizing: border-box;
     padding: 8px;
     cursor: pointer;
   }

   .intro_txt {
     display: none;
   }


   .cri_person.active .cri_name {
     color: #EC008C;

   }


   .intro_display {
     padding: 10px;

   }

   .cri_name {
     color: #000248;
     font-size: 1.2rem;
   }



 }


 @media all and (min-width: 1281px) {


   .outer {
     display: flex;
     flex-wrap: wrap;
     width: 1280px;
     margin: 0 auto;
   }

   aside {
     display: block;
     flex: 0 0 200px;
     padding: 20px;
     border-right: 1px solid #ccc;
     box-sizing: border-box;
   }

   aside ul li {
     margin-bottom: 10px;
     cursor: pointer;
   }

   aside h3 {
     margin-bottom: 20px;
   }

   .wrap {
     flex: 1;
     padding-left: 20px;
     box-sizing: border-box;


   }


 }